*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    background-color: #FFFFFF;
}
.page1{
    width: 100%;
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.pH1{
    font-family: Arial, Helvetica, sans-serif;
}
.ptext1{
    width: 12vw;
    height: 3vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2.5px 2.5px 5px  rgba(0, 0, 0, 0.049);
    position: fixed;
    right: 5vw;
    background-color: white;
    z-index: 10;

}
.ptext1 input{
    width: 7vw;
    letter-spacing: 0.2vw;
    border: 0px solid transparent;
    color: black;
    outline: none;
    background-color: transparent;
    
   
}
.ptext1 i{
    padding: 1vw;
}
.page2{
    width: 100%;
    height: 70vh;
    display: flex;
    margin-top: 5vw;
}
.left2 ,.right2{
    width: 40%;
}
.left2 img{
    width: 40vw;
    height: 20vw;
    margin-top: 3vw;
    padding-left: 4vw;
}
.right2{
    padding: 6vw 5vw;
}
.right2 p{
    font-size: 70px;
    font-weight: bolder;
    padding-left: 10vw;
    line-height: 4.9vw;
    color: rgba(0, 0, 0, 0.722);
    
}
.right2 .p1{
    letter-spacing: 21px;
}
.right2 .s1{
    color: #7A72FF;
}
.right2 .s2{
    color: #7A72FF;
}
.right2 button{
    width: 11vw;
    background-color: rgba(0, 0, 0, 0.876);
    height: 3vw;
    border-radius: 17px;
    margin-left: 10vw;
    color: white;
    cursor: pointer;
}
.right2 button:hover{
    background-color: #7A72FF;
}
.p2left1{
    width: 4vw;
    height: 18vw;
    /* background-color: red; */
    position: fixed;
    left: 2vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.178);
    z-index: 10;
    background-color: white;
}
.p2left1 i{
    font-size: 1.2vw;
}
.page3Raper{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3{
    top: 0;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.078);
    padding-top: 15vw;
   
}
.page3 h1{
    margin-top: -8vw;
    font-family: Arial, Helvetica, sans-serif;
}
.page3 .s3{
    color: #7A72FF;
}
.subpage3{
    padding: 5vw 8vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.imgbutt{
    width: 17.5vw;
    height: 20vw;
    position: relative;
    
   
}
.imgbutt .img{
    width: 17.5vw;
    height: 23vw;
    position: absolute;
    
}
.img img{
    width: 14.8vw;
    height: 19vw;
    margin-left: 1.5vw;
}
.imgbutt button{
    width: 10vw;
    height: 3.2vw;
    border-radius: 20px;
    background: linear-gradient(to right,#6B60EC,#9264F1);
    border: none;
    color: white;
    margin-top: 21.5vw;
    margin-left: 3.5vw;
}
.sub1page3{
    padding: 5vw 8vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
}
.imgbutt{
    width: 17.5vw;
    height: 20vw;
    position: relative;   
}
.imgbutt .img{
    width: 17.5vw;
    height: 23vw;
    
}
.img img{
    width: 14.8vw;
    height: 19vw;
    margin-left: 1.5vw;
}
.imgbutt button{
    width: 10vw;
    height: 3.2vw;
    border-radius: 20px;
    background: linear-gradient(to right,#6B60EC,#9264F1);
    border: none;
    color: white;
    margin-top: 21.5vw;
    margin-left: 3.5vw;
    opacity: 0;
}
.imgbutt:hover button{
    opacity: 1;
    cursor: pointer;
}
.imgbutt:hover .img{
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.049);
}
.page4{
    width: 100%;
    padding: 5vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left4 {
    width: 55%;
}
.right4{
    width: 45%;
}
.page4 h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.page4 h2{
    font-size: 2.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    color: #333333;
}
.left4 .s4{
    color: #6B60EC;
}
.left4 p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.245);
}
.right4 img{
    width: 34vw;
    height: 28vw;
}
.page5Raper{
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
   
}
.page5 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    padding: 5vw 32vw;
}
.page5Raper .s5{
    color: #6B60EC;
}
.page5{
    width: 87%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.192);
    min-height: 140vh;
}
.subpage5{
    padding: 5vw 8vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;

}
.imgbut5{
    width: 18vw;
    height: 24.5vw;
    position: relative;

}
.img5{
    width: 18vw;
    height: 22.3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 2vw; */
    position: relative;
}
.img5 img{
    width: 20vw;
    height: 17vw;
    position: absolute;
}
.img5 p{
    margin-top: -3vw;
    color: rgba(0, 0, 0, 0.313);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    position: absolute;
    bottom: 3vw;
}
.img5 .s51{
    padding-left: 5.5vw;
    color: black;
}
.imgbut5 button{
    width: 10vw;
    height: 3vw;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #6B60EC,#9565F2);
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.imgbut5:hover button{
    opacity: 1;
    cursor: pointer;
}
.img5:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.152) ;
}
.page6{
    width: 100%;
    height: 45vh;
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.page6 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.email{
    border: 1px solid black;
    width: 38vw;
    height: 4.8vw;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.085),-5px -5px 30px rgba(0, 0, 0, 0.085);
    border: none;
}
.email input{
    width: 15vw;
    margin-left: 1vw;
    border: none;
    outline: none;
}
.email button{
    width: 7vw;
    height: 3vw;
    border-radius: 20px;
    margin-right: 1vw;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.email button:hover{
    background-color: #9264F1;
}
footer{
    margin-top: 1px;
    width: 100%;
    height: 9vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;


}
footer p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}